@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --border: 229 229 229;

    --primary: 0 195 137;
    --primary-foreground: 255 255 255;

    --secondary: 255 215 0;
    --secondary-foreground: 0 0 0;

    --accent: 0 0 0;
    --accent-foreground: 255 255 255;
  }

  .dark {
    --background: 0 0 0;
    --foreground: 255 255 255;
    --border: 38 38 38;

    --primary: 0 195 137;
    --primary-foreground: 0 0 0;

    --secondary: 255 215 0;
    --secondary-foreground: 0 0 0;

    --accent: 255 255 255;
    --accent-foreground: 0 0 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
